@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-family: Roboto, Verdana, sans-serif;
  }
.container {
    max-width: 1600px;
    margin: 0 auto;
}
main a, footer a, #hero-msg a {
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;

}
a:hover {
    background-color: darkgray;
    color: white;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 0 100px 0;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
}
#hero-msg {
    margin-bottom: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;

}
.hero-img {
    width: 100%;
}
#background {
    height: 725px;
    background-color: lightgray;
  }
body {
    background-color: lightslategray; 
}
header {
    background-color:rgba(20,30,13, .7);
    background-color: #d9c2a3;
    width: 100%;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
}
nav {
    display: flex;
    justify-content:space-around
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon, .logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    background-color: #d9c2a3;
}    
footer p {
    font-size: 1.5em;
}    
footer p {
    font-size: 1.5em;
}    

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    width: 100%;
}
main section img {
    box-sizing: border-box;
}

.msg {
    background-color: rgb(250, 233, 186);
    padding: 100px;
    grid-column: 7/11;
    grid-row: 7/8;
}
footer {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.social a {
    background-color: white;
}
.social img {
    width: 50px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/5;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/5;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/5;
}
.mountains {
    grid-column: 2/7;
    grid-row: 6/9;
    margin-top: 25px;
    /* height: 100%; */


}

#background {
    grid-column: 1/11;
    grid-row: 5/11;
    z-index: -1;
}