
/* Menu */
nav {
    display: flex;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: bisque;
    font-family: Roboto, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;

}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

a {
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;

}

a:hover {
    background-color: darkgray;
    color: white;
  }

nav {
    display: flex;
    justify-content: center;
}
/* Main */
h1{
    font-size: 1.5em;
    text-align: center;
    margin: 50px;

}
img { 
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid lightblue;
    padding: 40px;
    margin: 80px auto;
    box-sizing: border-box;
}

p {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;

}
.background {
    background-color: lightgray;
}
footer {
    background-color: lightblue;
    color: rgb(71, 68, 69);
}
footer p {
    text-align: center;
}